# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pickle
*.npz

required_scripts/output_runs/
output_runs/
.idea/
.ipynb_checkpoints/

# for now, while setting up package:
MANIFEST
dist/
# setup.py

